.container {
  flex-wrap: wrap;
}

.title {
  width    : 100%;
  color    : black;
  font-size: 15px;
  margin   : 10px 0 2px;
}

.group {
  font-size: 18px;
  color    : #0189ff;
  display  : flex;
  width    : 100%;
  margin   : 10px 0 2px;
}

.groupDecoration {
  width           : 4px;
  height          : 26px;
  background-color: #0189ff;
  margin-right    : 2px;
}

.label {
  color        : #666;
  text-align   : right;
  padding-right: 8px;
}

.labelTitle {
  font-size    : 18px;
  color        : #666;
  margin-top   : 12px;
  padding-right: 8px;
}

.valueContainer {
  margin-bottom: 8px;
}

.value {
  color: #000;
}