<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>zero code</title>
</head>
<% if(context.env === 'production') { %>
  <script src="./config.js"></script>
<% }
%>
<body>
  <div id="root"></div>
</body>
</html>