html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-layout {
  height: 100%;
}

.ant-select {
  min-width: 6em;
}

.ZEleA-margin-left {
  margin-left: 12px;
}

.ZEleA-Breadcrumb-margin {
  margin: 12px 0;
}